* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: transparent;
}

.container{
    width: 80%;
    margin: auto;
}

.logo img {
    width: 100px;
    margin-top: -15px;
    margin-left: -20px;
}

header{
    display: flex;
    background-color:  #b9fefb;
    color: black;
    margin: 0;
    padding-top: 20px;
    min-height: 60px;
    max-height: 60px;
    border-bottom: #000000 4px solid;
    overflow: hidden;
    position: sticky;
    top: 0;
}


header a{
    color: #000000;
    font-size: 16px;
    text-decoration: none; 
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline ;
    color: #ffc400;
}

header .highlight, header .current a{
    color: #561463;
} 

header a.active{
    background-color: #000000;
    color: #ffffff;
} 


header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0px 20px 0 20px;
}

header .logo{
    float: left;
    margin-top: 6px;
    padding-left: 5px;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*Ovaj deo se odnosi samo na pocetnu stranu sajta*/

#pocetna{
    min-height: 670px;
    background-image: url('../images/pozadina.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -50px;
    text-align: center;
    color: #DEB597;
    text-shadow: 1px 1px #030000;
   
}

#pocetna h1{
    padding-top: 100px;
    font-size: 55px;
    color: #b9fefb;
    text-shadow: -2px 1px 0 black;
    margin-bottom: 10px;
}

#pocetna p{
    font-size: 30px;
    width: 80%;
    margin:auto;
    color:white;
    text-shadow: -1px 1px 0 black;
}