* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: transparent;
}

.container{
    width: 80%;
    margin: auto;
} 

.logo img {
    width: 100px;
    margin-top: -15px;
    margin-left: -20px;
}

header{
    display: flex;
    z-index: 6;
    background-color:  #b9fefb;
    color: black;
    margin: 0;
    padding-top: 20px;
    min-height: 60px;
    max-height: 60px;
    border-bottom: #000000 4px solid;
    overflow: hidden;
    position: sticky;
    top: 0;

}

nav .icon{
    display: none;
}

header a{
    color: #000000;
    font-size: 16px;
    text-decoration: none; 
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline ;
    color: #ffc400;
}

header .highlight, header .current a{
    color: #561463;
} 

header a.active{
    background-color: #000000;
    color: #ffffff;
} 


header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0px 20px 0 20px;
}

header .logo{
    float: left;
    margin-top: 6px;
    padding-left: 5px;
}

header .logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
}


/* ovo je za registraciju */
  

  body {
    margin: 0;
    padding: 0;
    background-image: url('../images/registracija2.jpg'); 
    background-attachment: fixed;
    font-size: 16px;
    color:#be0303;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-size: cover;
    background-position: 0 -50px;
  }
  
  #login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #fcb07d;
    border-radius: 2px;

  }
  
  .left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
  }
  
  h1 {
    margin-top: 30px;
    padding-bottom: 50px;
    font-weight: 300;
    font-size: 28px;
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus {
    border-bottom: 2px solid #05a4c0;
    color: #850400;
    transition: 0.2s ease;
  }
  
  input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #76a3f8;
    border: none;
    border-radius: 2px;
    color: #be0303;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background:#76a3f8;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
    color: #be0303;
  }
  
  .right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
  }
  
  .right .loginwith {
    display: block;
    margin-bottom: 30px;
    font-size: 28px;
    color:#be0303;
    text-align: center;
  }
  
  button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: white;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  button.social-signin:hover,
  button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  
  button.social-signin.facebook {
    background: #4267B2;
  }
  
  button.social-signin.instagram {
    background:#C13584;
  }
  
  button.social-signin.google {
    background: #f0ed46;
  }